body {
  background: #000;
}
.one {
  margin: 25vh auto;
  width: 400px;
  height: 400px;
  border-top: 10px solid red;
  border-left: 10px solid red;
  border-radius: 50%;
  position: relative;
}
.two {
  top: 25px;
  left: 25px;
  width: 350px;
  height: 350px;
  border-top: 10px solid orange;
  border-right: 10px solid orange;
  border-radius: 50%;
  position: relative;
  transform: rotate(20deg);
}
.three {
  top: 25px;
  left: 25px;
  width: 300px;
  height: 300px;
  border-bottom: 10px solid yellow;
  border-right: 10px solid yellow;
  border-radius: 50%;
  position: relative;
  transform: rotate(20deg);
}
.four {
  top: 25px;
  left: 25px;
  width: 250px;
  height: 250px;
  border-bottom: 10px solid green;
  border-left: 10px solid green;
  border-radius: 50%;
  position: relative;
  transform: rotate(20deg);
}
.five {
  top: 25px;
  left: 25px;
  width: 200px;
  height: 200px;
  border-top: 10px solid blue;
  border-left: 10px solid blue;
  border-radius: 50%;
  position: relative;
  transform: rotate(20deg);
}
.six {
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
  border-top: 10px solid indigo;
  border-right: 10px solid indigo;
  border-radius: 50%;
  position: relative;
  transform: rotate(40deg);
}
.seven {
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
  border-bottom: 10px solid violet;
  border-right: 10px solid violet;
  border-left: 1px solid violet;
  border-top: 1px solid violet;
  border-radius: 50%;
  position: relative;
  transform: rotate(40deg);
}
button {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  outline: none;
  background: #000;
  color: #FFF;
  border: none;
  height: 90px;
  width: 90px;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 50px;
  transform: rotate(-160deg);
}
button:active {
  background: #2b2c2d;
}
a {
  color: #FFF;
}
a:active {
  color: violet;